<nav class="navbar">
  <div class="nav-start">
    <div class="nav-item">
      <div class="nav-link nav-brand">
        <span class="first">E-</span><span class="second">SOKO</span>
      </div>
    </div>
  </div>
  <div class="nav-center">
    <ng-container *ngIf="hasSearchMenu">
      <div class="nav-item main-search">
        <input type="text" placeholder="I am looking for .." class="search">
        <span class="fa fa-search search-icon"></span>
      </div>
    </ng-container>
  </div>
  <div class="nav-end">
    <ng-container *ngIf="hasCartMenu">
      <div class="nav-item">
        <div class="nav-link cart-menu">
          <i class="fa fa-cart icon"></i> Cart <span class="cart-counter">{{totalCartItems || 0}}</span>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="hasAccountMenu">
      <div class="nav-item">
        <div class="nav-link">
          <i class="fa fa-user-o"></i> Sign In
        </div>
      </div>
    </ng-container>
  </div>
</nav>
